
nav {
    height: 50px;
    background-color: pink;
    display: block;
}

.div {
    display: block;
}

.block_element {
    display: inline-block;
    padding: center;
    display: block;
}

.inline-block {
    display: inline-block;
    padding: 16px;
    background-color: plum;
}

body {
    height: 5000px;
}

.left {
    height: 500px;
    float: left;
    background-color: lightblue;
    width: 30%;
    text-align: center;
}
.PetName {
    background-color: lightpink;
    height: 25%;
    width: 100%;
   }


.PetStats {
    background-color: lightpink;
    height: 75%;
    width: 100%;

   }

.right {
    height: 500px;
    width: 70%;
    background-color: green;
    float: right;
  }

